{% extends "hg19/base_menu.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block head %}
    <style>
    table {
        font-family:courier, "courier new", monospace;
        font-size:1em;
        color:#000;
        background-color:#fff;
    }
    </style>
{% endblock %}

{% block body %}
    <form action='.' method="get">
    {{ form }}
    <input type="submit" value="Search" name="search"/>
    </form>

    {% if table %}
        {% render_table table %}
        <br>
        Search time: {{ search_time }} s
    {% endif %}
{% endblock %}