{% extends "hg19/base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}



{% block head %}
    <title>Hg19 Explorer | Exact Match Search</title>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="well form-container col-md-10 col-md-offset-1">
            <div class="text-center">
                <form class="form-inline" action='.' method="get">
                    {% crispy form %}
                    <div class="form-group" style="vertical-align:bottom;">
                        <input class="btn btn-primary" type="submit" value="Search with postBIS" name="search_postbis"/>
                    </div>
                    <div class="form-group" style="vertical-align:bottom;">
                        <input class="btn btn-primary" type="submit" value="Search with postgresql" name="search_postgres"/>
                    </div>
                    <div class="form-group" style="vertical-align:bottom;">
                        <input class="btn btn-primary" type="submit" value="Search between adjacent registers" name="complex_search"/>
                    </div>
                </form>
            </div>
        </div>    
    </div>

    {% if table %}
    <div class="row">
        <div class="pull-right search_time">
            <span class="label label-success label-md">Search time</span> <span class="label label-default label-md">{{ search_time }} s</span> 
        </div>
    </div>
    <div class="table-container">
        <br>
        {% render_table table %}
    </div>
    {% endif %}
{% endblock %}
